git+https://github.com/phantomcyber/asn1crypto@soar-v1.0#egg=asn1crypto
cffi==1.17.1
filelock==3.18.0
git+https://github.com/phantomcyber/oscrypto@soar-v1.0#egg=oscrypto
packaging==25.0
pycparser==2.23
pycryptodomex==3.23.0
PyJWT==2.10.1
pyOpenSSL==25.1.0
snowflake-connector-python==3.16.0
typing_extensions==4.14.1
