git+https://github.com/phantomcyber/asn1crypto@soar-v1.0#egg=asn1crypto
cffi==1.15.1
filelock==3.10.0
git+https://github.com/phantomcyber/oscrypto@soar-v1.0#egg=oscrypto
packaging==23.0
pycparser==2.23
pycryptodomex==3.20.0
PyJWT==2.6.0
pyOpenSSL==24.2.1
pytz==2022.7.1
snowflake-connector-python==3.13.1
typing_extensions==4.5.0
